h1= title
input(type='text')

#entered-text
#results

textarea#test-text(columns='80', rows='30')

script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/javascripts/parser_client.js')
