h1= title

h2
  label(for='pattern') Pattern:
input#pattern(type='text')

h3 Modifiers: 
input#global(type='checkbox', value='g')
label(for='global') Global

input#insensitive(type='checkbox', value='i')
label(for='insensitive') Case insensitive

input#multiline(type='checkbox', value='m')
label(for='multiline') Multi-line mode

#entered-text
#results

textarea#test-text(columns='80', rows='30')

script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/javascripts/regex_client.js')
